
header{
  display:flex;
  justify-content: center;
  text-align: center;
  background-color:#0e3746;
  margin:0;
  min-height: 8vh;
 
  
}

.headerTitle{
  font-size: 6vw;
  font-family: 'Press Start 2P', cursive;
  color: #f4f2ec;
}


.welcomeUser{
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  color: #f4f2ec;
}

@media screen and (max-width: 650px){
    
  header {
    display:flex;
    justify-content: center;
    text-align: center;
      
      
  
        
 }
}