.headerTitle{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

.userLogin{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid lime;
  
}