
.header{
  display:flex;
  justify-content: center;
  text-align: center;
  background-color:#0e3746;
  height: 90px;
  display: flex;
  justify-content: center;
  margin:0;
 
  
}

.headerTitle{
  display:flex;
  font-size: 150%;
  font-family: 'Press Start 2P', cursive;
  color: #f4f2ec;
}


.welcomeUser{
  font-family: 'Press Start 2P', cursive;
  font-size: 20%;
  color: #f4f2ec;
}