.navBar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.75vw;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #617b30;
  font-family: "Press Start 2P", cursive;
  color: black;
}

.homeLink {
  color: black;
  border: 4px solid #0e3746;
  padding: 0.5rem;
  background-color: #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.homeLink:hover {
  color: #617b30;
}

.allLink {
  color: black;
  border: 4px solid #0e3746;
  padding: 0.5rem;
  background-color: #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.allLink:hover {
  color: #617b30;
}

.footballLink {
  color: black;
  border: 4px solid #0e3746;
  padding: 0.5rem;
  background-color: #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.footballLink:hover {
  color: #617b30;
}

.codingLink {
  color: black;
  border: 4px solid #0e3746;
  padding: 0.5rem;
  background-color: #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.codingLink:hover {
  color: #617b30;
}

.cookingLink {
  color: black;
  border: 4px solid #0e3746;
  padding: 0.5rem;
  background-color: #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
}
.cookingLink:hover {
  color: #617b30;
}
@media screen and (max-width: 650px) {
  .navBar {
    display: flex;
    justify-content: space-evenly;
    max-height: 10rem;
  }
}
