.navBar{
  display:flex;
  justify-content: space-evenly;
  margin:0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color:#617B30;
  height: 40px;
  font-family: 'Press Start 2P', cursive;
  
  
}

.homeLink{
  display:flex;
  justify-content: center;
  font-size: 10%;
  border: 1px solid #0e3746;
  padding-right: 2.5px;
  padding-left: 2.5px;
  background-color:  #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: black;
}
.homeLink:hover{
  color: #617B30;
}


.footballLink{
  display:flex;
  justify-content: center;
  font-size: 5%;
  border: 1px solid #0e3746;
  padding-right: 2.5px;
  padding-left: 2.5px;
  background-color:  #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: black;
}
.footballLink:hover{ 
  color: #617B30;
}

.codingLink{
  display:flex;
  justify-content: center;
  font-size: 5%;
  border: 1px solid #0e3746;
  padding-right: 2.5px;
  padding-left: 2.5px;
  background-color:  #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: black;
}
.codingLink:hover{
  color: #617B30;
}

.cookingLink{
  display:flex;
  justify-content: center;
  font-size: 5%;
  border: 1px solid #0e3746;
  padding-right: 2.5px;
  padding-left: 2.5px;
  background-color:  #d4d7db;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: black;
}
.cookingLink:hover{
  color: #617B30;
}

/* .welcomeUser{
  display:flex;
  justify-content: center;
  font-size: 5%;
  border: 1px solid #0e3746;
  background-color: #d4d7db;
  padding:0;
  margin:0;
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  color: #0e3746;
  height: 30px;
  line-height: 30px;
} */