
li{
  text-align: center;
  border-radius:10px;
  border: 1px solid red;
  list-style: none;
  background-color: #d4d7db;
  padding: 0.5rem 0.5rem;
  border: 5px solid #0e3746;
  font-size: 1.5vw;
  width: 90vw;
  margin: 10px auto;
}

p{
  font-family: 'Press Start 2P', cursive;
  color:black;
}

.articleTitleLink{
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

.articleTitleLink:hover{
  color: #617B30;
}
