.articleCard{
  margin:0;
  border: 1px solid aqua;
  width: 100%;
}

.articleCardTitle{
   font-family: 'Press Start 2P', cursive;
   font-size: 70%;
}

.articleCardCommentCount{
   border: 1px solid red;
}

.articleCardBody{
  border: 1px solid red;
  padding:5px;
}