.votesLove {
  font-size: 3vw;
  background-color: #f4f2ec;
  border-radius: 10px;
}

.votesHate {
  font-size: 3vw;
  background-color: #f4f2ec;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .voting p {
    font-size: 2vw;
  }
}
