.votesTally{
  font-family: 'Press Start 2P', cursive;
}

.votesLove{
   font-size: 3vw;

}

.votesHate{
  font-size: 3vw;
}

@media (max-width: 600px) {
    .voting p {
      font-size: 2vw;
      font-family: 'Press Start 2P', cursive;

    }
}
